* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: 'Cairo', sans-serif;
}
::-webkit-scrollbar {
    width: 12.5px;
}
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #00CC65;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00ae57;
}
/* Section One Start */
.section-1 {
    width: 100%;
    background: #EFF5FF;
}
/* Header */
.header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    gap: 5px;
    box-shadow: 0px 0px 10px #DDD;
    background: #FFF;
}
/* Logo */
.logo {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.logo img {
    width: 72px;
    height: 72px;
}
/* Logo Title */
.logo-title h3 {
    cursor: pointer;
    color: #080E5C;
}
/* Menu Icon */
#menu-box {
    display: none;
    cursor: pointer;
    font-size: 45px;
    color: #00CC65;
}
/* Navbar */
.navbar {
    position: relative;
}
.navbar ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}
.navbar a {
    font-size: 17px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    color: #080E5C;
}
.navbar a:hover {
    transition: linear 0.5s;
    background: #EBF2FF;
}
/* Header Icons */
.header-icons {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
.header-icons i {
    padding: 7.5px 10px;
    font-size: 25px;
    border-radius: 5px;
    color: #565656;
}
.header-icons i:hover {
    transition: linear 0.5s;
    background: #E8F0FF;
}
.header-icons span  {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-icons span h6 {
    font-size: 16px;
}
/* Header Buttons */
.header-buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}
.header-buttons a {
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 600;
}
.header-buttons .header-button-1 {
    border: 2px solid #00CC65;
    color: #00CC65;
}
.header-buttons .header-button-1:hover {
    transition: linear 0.4s;
    color: #FFF;
    background: #00CC65;
}
.header-buttons .header-button-2 {
    color: #FFF;
    border: 2px solid #00CC65;
    background: #00CC65;
}
.header-buttons .header-button-2:hover {
    transition: all linear 0.4s;
    color: #00CC65;
    background: #FFF;
}
.header-icons-2 {
    display: none;
}
/* Responsive Navbar */
@media(max-width: 1420px) {
    #menu-box {
        display: block;
        position: absolute;
        left: 75px;
        text-shadow: 2px 2px 8px #DDD;
    }
    .header-buttons {
        margin-left: 105px;
    }
    .header-icons {
        margin-left: 20px;
    }
    .navbar ul {
        display: flex;
        text-align: center;
        position: absolute;
        transition: all ease 0.4s;
        padding: 35px 20px;
        top: -500px;
        left: 50%;
        z-index: -1;
        border-radius: 10px;
        transform: translateX(-80%);
        background: #FFF;
    }
    .navbar ul a {
        display: block;
        width: 130px;
        padding: 0;
    }
    .navbar ul.open {
        top: 25px;
    }
}
@media(max-width: 1030px) {
    .header-icons {
        display: none;
    }
    .navbar ul {
        left: 157px;
    }
}
@media(max-width: 780px) {
    .navbar ul {
        flex-direction: column;
        padding: 50px 65px;
        margin: auto;
        left: -100px;
    }
    .header {
        padding: 5px 40px;
    }
    .header-buttons {
        margin-left: 85px;
    }
    .header-buttons a {
        padding: 6px 10px;
        font-size: 13px;
        font-weight: 500;
    }
    #menu-box {
        font-size: 40px;
        left: 65px;
    }
}
@media(max-width: 635px) {
    .logo-title {
        display: none;
    }
    .navbar ul {
        left: -120px;
    }
}
@media(max-width: 567px) {
    .header {
        padding: 5px 20px;
    }
    #menu-box {
        left: 25px;
    }
}
@media(max-width: 467px) {
    .header {
        padding: 5px 15px;
    }
    .header-buttons {
        display: none;
    }
    .navbar ul {
        left: -85px;
        padding: 40px 20px;
    }
}
@media(max-width: 466px) {
    .header-icons-2 {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        font-size: 29px;
        margin-left: 70px;
        color: #00CC65;
    }
    .header-icons-2 i {
        text-shadow: 2px 2px 8px #DDD;
    }
}
@media(max-width: 431px) {
    .navbar ul {
        left: -95px;
    }
}
@media(max-width: 420px) {
    .navbar ul {
        left: -88px;
    }
}
@media(max-width: 400px) {
    .navbar ul {
        left: -70px;
    }
}
/* Section One Container */
.section-1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 60px;
    margin-top: 10px;
}
/* Section One Image */
.section-1-image img {
    width: 518px;
    height: 518px;
}
/* Section One Text */
.section-1-text {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 40px;
}
.section-1-text h1 {
    font-weight: 800;
    color: #080E5C;
}
/* Section One Search */
.section-1-search {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.search-iconn {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    padding: 8px;
    left: 10px;
    top: 8px;
    border-radius: 5px;
    color: #FFF;
    background: #00CC65;
}
.search-iconn:hover {
    transition: 0.5s;
    background: #00ae57;
}
.search-area {
    cursor: pointer;
    text-align: end;
    border: none;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background: #FFF;
}
.search-area:focus {
    outline: none;
}
.search-area::placeholder {
    padding-right: 3px;
    margin-right: 3px;
}
.submit-button {
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 35px;
    color: #FFF;
    border: 2px solid #00CC65;
    background: #00CC65;
}
.submit-button:hover {
    transition: all linear 0.4s;
    color: #00CC65;
    border: 2px solid #00CC65;
    background: #EBF2FF;
}
.button-shape {
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 35px;
    color: #FFF;
    border: 2px solid #00CC65;
    background: #00CC65;
}
.button-shape:hover {
    transition: all linear 0.4s;
    color: #00CC65;
    border: 2px solid #00CC65;
    background: #EBF2FF;
}
/* Section One Responsive */
@media(max-width: 1040px) {
    .section-1-text h1 {
        font-size: 25px;
        font-weight: 700;
    }
    .section-1-search {
        width: 330px;
    }
    .button-shape {
        font-size: 16px;
    }
}
@media(max-width: 1110px) {
    .section-1-image img {
        width: 418px;
        height: 418px;
    }
}
@media(max-width: 900px) {
    .section-1-container {
        flex-direction: column;
        margin: 0;
        padding: 5px;
    }
    .section-1-image img {
        width: 518px;
        height: 518px;
    }
    .section-1-text {
        padding: 10px 0;
        text-align: center;
    }
    .section-1-button-container {
        justify-content: center;
        margin: 10px 0 20px 0;
    }
}
@media(max-width: 545px) {
    .section-1-container {
        overflow: hidden;
    }
    .section-1-image img {
        width: 400px;
        height: 400px;
    }
}
@media(max-width: 435px) {
    .section-1-container {
        padding: 10px;
    }
    .section-1-image img {
        width: 300px;
        height: 300px;
    }
    .section-1-text h1 {
        font-size: 25px;
        font-weight: 600;
    }
    .section-1-search {
        width: 340px;
    }
}
/* Section Two Start */
.section-2 {
    width: 100%;
    padding: 40px 60px;
    background: #FFF;
}
/* Section Two Title */
.section-2-title {
    display: flex;
    justify-content: center;
}
.section-2-title h1 {
    font-size: 35px;
    word-spacing: 5px;
    color: #080E5C;
}
/* Section Two Container */
.section-2-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin: 50px 0;
}
@media(min-width: 1700px) {
    .section-4-container {
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    }
}
/* Section Two Box */
.section-2-box {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #DDD;
    background: #EFF5FF;
}
.Ellipse {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
/* Section Two Image */
.section-2-image {
    margin-top: 12.5px;
}
.section-2-button {
    text-align: center;
    margin: 10px 0 10px 0;
}
.button-shape.two:hover {
    background: #FFF;
}
/* Section Two Responsive */
@media(max-width: 767px) {
    .section-2-container {
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
    .section-2 {
        width: 100%;
        padding: 40px 40px;
    }
}
@media(max-width: 567px) {
    .section-2 {
        padding: 30px 20px;
    }
    .section-2-title h1 {
        font-size: 27px;
        word-spacing: 0;
    }
}
@media(max-width: 467px) {
    .section-2 {
        padding: 30px 15px;
    }
    .section-2-title h1 {
        font-size: 22px;
    }
}
/* Section Three Start */
.section-3 {
    width: 100%;
    padding: 40px 60px;
    background: #EFF5FF;
}
/* Section Three Title */
.section-3-title {
    display: flex;
    justify-content: center;
}
.section-3-title h1 {
    font-size: 35px;
    word-spacing: 5px;
    color: #080E5C;
}
.tab-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0 0 5px;
    border-bottom: 2px solid #49494934;
}
.tab-btn {
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
    background: none;
    color: #575757;
    border-bottom: 2px solid #EFF5FF;
}
.tab-btn:hover {
    transition: 0.4s;
    color: #080E5C;
    border-bottom: 2px solid #080E5C;
}
.activated {
    color: #080E5C;
    border-bottom: 2px solid #080E5C;
}
/* Section Three Container */
.section-3-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-top: 25px;
}
/* Section Three Box */
.section-3-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px #DDD;
    background: #FFF;
}
/* Section Three Image */
.section3-image {
    position: relative;
}
.section3-image img {
    width: 100%;
}
.money {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.money h6 {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    color: #000;
    background: #FFF;
}
.money h6 span {
    font-size: 20px;
    font-weight: 900;
    color: #00075D;
}
/* Section Three Text */
.section-3-text {
    text-align: end;
}
.section-3-text h3 {
    margin: 20px 5px;
}
/* Section Three Information */
.section-3-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    margin: 10px 5px;
    padding-bottom: 50px;
    border-bottom: 2px solid #56565615;
}
.section-3-info.two {
    padding-bottom: 10px;
}
.section-3-info span {
    font-size: 16px;
    font-weight: 700;
    color: #494949;
}
/* Section Three Details */
.section-3-details {
    display: flex;
    justify-content: space-between;
}
.section-3-details span {
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    color: #000;
}
.section-3-details span i {
    padding: 0px 5px;
    color: #9CB5D5;
}
.section-3-button {
    text-align: center;
    padding-top: 40px;
    margin: 20px 0;
}
/* Section Three Responsive */
@media(max-width: 767px) {
    .section-3-container {
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    }
    .section-3 {
        padding: 30px 40px;
    }
    .section-3-details span {
        font-size: 13px;
    }
    .section-3-text h3 {
        font-size: 15px;
    }
    .section-3-info span {
        font-size: 13px;
    }
}
@media(max-width: 567px) {
    .section-3 {
        padding: 25px 20px;
    }
}
@media(max-width: 550px) {
    .section-3-button {
        padding-top: 20px;
    }
    .section-2-button {
        margin: -10px 0 1   0px 0;
    }
}
@media(max-width: 467px) {
    .section-3 {
        padding: 25px 15px;
    }
}
@media(max-width: 425px) {
    .section-3-title h1 {
        font-size: 27px;
        word-spacing: 0;
    }
    .section-3-text h3 {
        font-size: 15px;
    }
    .section-3-info span {
        font-size: 13px;
    }
    .money h6 {
        font-size: 12px;
    }
    .money h6 span {
        font-size: 16px;
    }
    .section-3-info {
        padding-bottom: 35px;
    }
    .section-3-details span {
        font-size: 13px;
    }
}
/* Section Four Start */
.section-4 {
    position: relative;
    width: 100%;
    padding: 50px 70px;
    background: #FFF;
}
/* Section Four Title */
.section-4-title {
    display: flex;
    justify-content: center;
}
.section-4-title h1 {
    font-size: 35px;
    word-spacing: 5px;
    color: #080E5C;
}
/* Section Four Box */
.section-4-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 4px #DDD;
    background: #FFF;
}
/* Section Four Image */
.section-4-image img {
    width: 100%;
}
.section-4-p {
    text-align: end;
    color: #9CB5D5;
}
.section-4-title {
    text-align: end;
    padding: 0px 0 20px 0;
}
.section-4-title h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
    color: #575757;
}
.section-4-info {
    text-align: end;
}
.section-4-info i {
    color: #9CB5D5;
    margin: 0 5px 0 10px;
}
.dots {
    cursor: pointer;
    text-align: center;
}
/* Section Four Responsive */
@media(max-width: 767px) {
    .section-4-container {
        grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
        padding: 0;
    }
    .section-4 {
        padding: 40px;
    }
}
@media(max-width: 567px){
    .section-4 {
        padding: 20px;
    }
}
@media(max-width: 540px) {
    .section-4-title h1 {
        font-size: 27px;
    }
}
@media(max-width: 467px) {
    .section-4 {
        padding: 30px 15px;
    }
}
/* Section Five Start */
.section-5 {
    width: 100%;
    padding: 40px 60px;
    background: #EFF5FF;
}
/* Section Five Title */
.section-5-title {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.section-5-title h1 {
    font-size: 35px;
    word-spacing: 5px;
    margin-bottom: 15px;
    color: #080E5C;
}
/* Section Five Container */
.section-5-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
}
/* Section Five Box */
.section-5-box {
    text-align: center;
    padding: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px #DDD;
    background: #FFF;
}
.section-5-image img {
    width: 50%;
    margin: 5px;
}
/* Section Five Responsive */
@media(max-width: 767px) {
    .section-5 {
        padding: 40px;
    }
}
@media(max-width: 567px) {
    .section-5 {
        padding: 30px 20px;
    }
}
@media(max-width: 467px) {
    .section-5 {
        padding: 30px 15px;
    }
}
/* Footer */
.footer {
    width: 100%;
    background: #FFF;
}
.footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
    padding: 40px 60px;
}
.footer-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-bio {
    text-align: end;
}
.footer-title {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}
.all {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 15px;
}
.footer-social-icons {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}
.social span i {
    margin-left: 10px;
    color: #9CB5D5;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    gap: 20px;
}
.social-icons i {
    cursor: pointer;
    font-size: 25px;
    color: #00CC65;
}
.social-icons i:hover {
    transition: 0.3s;
    color: #008e47;
}
/* Responsive Footer */
@media(max-width: 1210px) {
    .footer-title {
        font-size: 14px;
        padding: 20px 5px;
    }
}
@media(max-width: 1110px) {
    .footer-container {
        justify-content: space-between;
    }
    .footer-box.two {
        display: none;
    }
    .footer-box {
        justify-content: center;
    }
}
@media(max-width: 890px) {
    .footer-bio {
        max-width: 275px;
    }
}
@media(max-width: 767px) {
    .footer-container {
        padding: 40px;
    }
    .footer-title {
        font-size: 17px;
        padding: 5px;
    }
    .footer-bio p {
        padding: 5px;
    }
}
@media(max-width: 655px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .logo-title.two {
        display: block;
    }
    .footer-bio {
        max-width: 100%;
    }
}
@media(max-width: 567px) {
    .footer-container {
        padding: 30px 20px;
    }
}
@media(max-width: 467px) {
    .footer-container {
        padding: 30px 15px;
    }
}
.slick-track {
    display: flex;
    gap: 40px;
    padding: 40px;
}
.section-5-image {
    display: flex;
    justify-content: center;
}
.slick-dots li button:before {
    font-size: 20px;
    color: #a2bddf;
}
.slick-dots li.slick-active button::before {
    color: #00CC65;
}
@media(max-width: 1000px) {
    .slick-track {
        gap: 10px;
        padding: 10px;
    }
    .slick-dots li button:before {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.slick-dots {
    margin-top: 10px;
}
.slick-prev:before, .slick-next:before{ 
    font-family: FontAwesome; 
    font-size: 40px; 
    line-height: 1; 
    color: #575757; 
    opacity: 0.75; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }
.slick-prev:before {
    margin-left: -40px;
}
.slick-next:before {
    margin-right: -40px;
}
.hide {
    display: none;
}
.hidden {
    display: none;
}
@media(max-width: 1200px) {
    .section-3-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .tab-box {
        width: 360px;
        border: none;
        overflow-x: auto;
    }
    .tab-btn {
        border: none;
    }
    .tab-btn:hover {
        border: none;
    }
}
@media(max-width:430px) {
    .tab-box {
        width: 170px;
    }
}
.login-body {
    background: #EFF5FF;
}
.login-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
}
.login-text h2 {
    width: 450px;
    font-weight: 900;
    color: #080E5C;
}
.login-inputs {
    position: relative;
    display: flex;
    flex-direction: column;
}
.login-inputs #username {
    border: 2px solid #7AA3B690;
    border-radius: 5px;
    height: 35px;
    font-size: 17px;
    padding: 5px;
    text-align: end;
    cursor: pointer;
}
.login-inputs #emaill {
    border: 2px solid #7AA3B690;
    border-radius: 5px;
    height: 35px;
    font-size: 17px;
    padding: 5px;
    text-align: end;
    cursor: pointer;
}
.login-inputs #pass {
    border: 2px solid #7AA3B690;
    border-radius: 5px;
    height: 35px;
    font-size: 17px;
    padding: 5px;
    text-align: end;
    cursor: pointer;
}
.login-inputs #number {
    border: 2px solid #7AA3B690;
    border-radius: 5px;
    height: 35px;
    font-size: 17px;
    padding: 5px;
    text-align: end;
    cursor: pointer;
}
.login-inputs #emaill:focus , .login-inputs #pass:focus , .login-inputs #username {
    outline: none;
    display: flex;
    text-align: end;
    padding: 5px;
    font-size: 17px;
}
.login-inputs #email {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #575757;
}
.login-inputs #phonenumber {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #575757;
}
.login-inputs #user {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #575757;
}
.login-inputs #password {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #575757;
}
.login-inputs #forget a {
    display: block;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7AA3B6;
}
#show {
    position: absolute;
    bottom: 121px;
    left: 8px;
    color: #7AA3B6;
    cursor: pointer;
}
.login-inputs button {
    cursor: pointer;
    border: none;
    font-size: 17px;
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;
    margin: 10px 0;
    color: #FFF;
    background: #00CC65;
}
.login-inputs button:hover {
    transition: 0.4s;
    background: #00ae57;
}
.no-acc {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.no-acc h5 {
    cursor: pointer;
    font-size: 15px;
    color: #575757;
}
.no-acc h5 span a {
    font-size: 18px;
    margin-right: 10px;
    color: #080E5C;
}
.or {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.or h4 {
    position: absolute;
}
.or ::before {
    content: "";
    display: inline-block;
    width: 200px;
    height: 2px;
    background-color: #7AA3B690;
    margin-right: 10px;
}
.or ::after {
    content: "";
    display: inline-block;
    width: 200px;
    height: 2px;
    background-color: #7AA3B690;
    margin-left: 10px;
}
.login-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row-reverse;
    margin: 25px 0 5px 0;
}
.google {
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 8px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #7AA3B690;
}
.facebook {
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 8px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #7AA3B690;
}
.google img {
    width: 32px;
    height: 32px;
}
.facebook img {
    width: 32px;
    height: 32px;
}
#submit2 {
    margin-top: 20px;
}
#show2 {
    position: absolute;
    bottom: 81px;
    left: 8px;
    color: #7AA3B6;
}
.header-icons-2 a {
    color: #00CC65;
}
@media(max-width: 1035px) {
    .login-text h2 {
        width: 390px;
    }
    .or ::after , .or ::before {
        width: 170px;
    }
    .google img {
        width: 28px;
        height: 28px;
    }
    .facebook img {
        width: 28px;
        height: 28px;
    }
    .google span , .facebook span {
        display: none;
    }
}
@media(max-width: 965px) {
    .section-1-container.two {
        flex-direction: column;
        margin: 0;
        padding: 5px;
    }
    .login-container {
        margin: 10px 0;
    }
    .login-inputs {
        text-align: end;
    }
    .login-inputs #emaill:focus , .login-inputs #pass:focus {
        font-size: 14px;
    }
}
@media(max-width: 475px) {
    .login-text h2 {
        width: 270px;
    }
    .or ::after, .or ::before {
        width: 100px;
    }
}
.section-1-container-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.confirm-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 120px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #EEE;
    background: #FFF;
}
.confirm-inputs {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}
.confirm-inputs input {
    width: 45px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border: 1px solid #7AA3B690;
    border-radius: 10px;
}
.confirm-inputs input[type="number"]::-webkit-outer-spin-button,
.confirm-inputs input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.confirm-inputs input:focus {
    outline: none;
}
.confirm-text {
    text-align: center;
    margin-bottom: 10px;
}
.confirm-text h2 {
    font-size: 28px;
    font-weight: 900;
    color: #080E5C;
}
.confirm-text p {
    font-size: 17px;
    font-weight: 600;
    color: #575757;
}
.confirm-resend {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.confirm-resend a {
    font-size: 17px;
    font-weight: 700;
    color: #7AA3B6;
}
.confirm-resend i {
    cursor: pointer;
    font-size: 22px;
    margin-top: 2.5px;
    color: #7AA3B6;
}
@media(max-width: 545px) {
    .confirm-section {
        padding: 20px 50px;
    }
}
.password-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #EEE;
    background: #FFF;
}
.password-box h2 {
    width: 100%;
    text-align: end;
    margin-bottom: 15px;
    color: #080E5C;
}
.pass-box {
    position: relative;
    display: flex;
    flex-direction: column;
}
.pass-box input {
    position: relative;
    text-align: end;
    width: 450px;
    height: 40px;
    padding: 5px;
    border: 2px solid #7AA3B690;
    border-radius: 10px;
}
.pass-box input:focus {
    outline: none;
}
.pass-box span {
    margin: 5px 0;
}
.pass-box i {
    position: absolute;
}
#confirmm-pass {
    margin: 0 0 25px 0;
}
.pass-box button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background: #00CC65;
}
.pass-box button:hover {
    transition: 0.4s;
    background: #00ae57;
}
#first-i {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    bottom: 190px;
    left: 10px;
    color: #7AA3B6;
}
#second-i {
    position: absolute;
    z-index: 1;
    bottom: 110px;
    left: 10px;
    color: #7AA3B6;
}
@media(max-width: 575px) {
    .pass-box input {
        width: 300px;
    }
}
@media(max-width: 400px) {
    .pass-box input {
        width: 275px;
    }
}
.my-main-profile {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}
.my-main-profile .main-user {
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    color: #79b8d4;
    background: #7aa3b62e;
}
.my-main-profile .down-arrow {
    color: #565656;
}
@media(max-width: 1420px) {
    .my-main-profile {
        margin-left: 100px;
    }
}
@media(max-width: 590px) {
    .my-main-profile {
        margin-left: 75px;
    }
}
@media(max-width: 1170px) {
    .navbar.profileeee ul.open {
        left: 34px;
    }
}
@media(max-width: 1030px) {
    .navbar.profileeee ul.open {
        left: 206px;
    }
}
@media(max-width: 780px) {
    .navbar.profileeee ul.open {
        left: -100px;
    }
}
@media(max-width: 635px) {
    .navbar.profileeee ul.open {
        left: -120px;
    }
}
@media(max-width: 615px) {
    .navbar.profileeee ul.open {
        padding: 40px 20px;
    }
}
@media(max-width: 400px) {
    .navbar.profileeee ul.open {
        left: -90px;
    }
}
.section-one-con {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.course-image {
    padding: 50px;
}
.course-image img {
    width: 400px;
    height: 240px;
}
.course-details {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 20px;
    gap: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: #FFF;
}
.course-detail {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin: 5px 0;
    padding: 5px 0;
}
.course-detail:not(:last-child) {
    border-bottom: 2px solid #DDD;
}
.course-detail h6.reverse {
    display: flex;
    font-size: 13px;
    flex-direction: row-reverse;
}
.course-detail h6 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.course-detail i {
    font-size: 20px;
    color: #79b8d4;
}
.course-detail h6 {
    font-size: 16px;
    color: #565656;
}
.course-detail h6 span {
    font-size: 13px;
}
.course-location {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    padding: 5px 50px;
}
#course-name {
    color: #61a2bd;
}
.courseDetails {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px 50px;
}
.course-titlee {
    text-align: end;
}
.course-money {
    margin: 15px 0;
}
.course-money h4 {
    font-size: 20px;
    color: #565656;
}
.course-money h4 span {
    font-size: 25px;
    color: #00b259;
    margin: 0 5px;
}
.course-cart {
    width: 100%;
    display: flex;
    justify-content: end;
}
.course-cart button {
    cursor: pointer;
    border: none;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 1px 2px 8px #DDD;
    color: #FFF;
    background: #00b259;
}
.course-cart button:hover {
    transition: 0.4s;
    background: #008e47;
}
.course-cart button i {
    margin-left: 5px;
}
.courses-info {
    width: 60%;
    margin-top: 20px;
}
.course-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px #DDD;
    background: #FFF;
}
.course-buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.course-buttons button {
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #080E5C;
    background: #FFF;
}
.course-buttons button:hover {
    transition: 0.4s;
    color: #fff;
    background: #61a2bd;
}
.course-buttons .active_button {
    color: #fff;
    background: #61a2bd;
}
.course-desription > div:not(:first-child) {
    display: none;
}
.course-desription {
    text-align: end;
    border-radius: 10px;
    margin: 30px 0;
    padding: 20px;
    box-shadow: 1px 2px 8px #DDD;
    background: #FFF;
}
.course-description1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.course-description1 p , .course-description1 h3{
    margin-bottom: 10px;
}
.course-description1 p {
    font-size: 17px;
    font-weight: 600;
}
.team {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.team span {
    font-size: 18px;
    font-weight: 700;
}
.teams p {
    margin-right: 35px;
}
@media(max-width: 1285px) {
    .course-cart button {
        width: 100%;
    }
    .courses-info {
        width: 100%;
    }
    .courseDetails {
        padding-left: 0;
    }
}
@media(max-width: 1005px) {
    .section-one-con {
        flex-direction: column-reverse;
        padding: 20px;
    }
    .course-image img {
        width: 100%;
    }
    .courseDetails {
        padding: 20px;
    }
    .course-detail {
        justify-content: center;
        font-size: 25px;
        font-weight: 700;
        margin: 20px;
    }
}
@media(max-width: 505px) {
    #remv {
        display: none;
    }
    .course-location {
        font-size: 13px;
    }
    .course-location {
        padding: 5px 20px;
    }
    .course-titlee h1 {
        font-size: 22px;
    }
    .course-buttons button {
        font-size: 14px;
    }
    .course-desription {
        padding: 8px;
        margin-bottom: 0;
    }
    .course-description1 p {
        font-size: 14px;
    }
    .course-description1 h3 {
        font-size: 17px;
    }
    .course-description1 h4 {
        font-size: 13px;
    }
    .course-image {
        padding: 5px;
    }
    .course-details {
        margin-bottom: 10px;
    }
}